#container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: aliceblue;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.items {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    flex-basis: 25%;
    height: 0;
    padding-bottom: 25%;
    background-color: white;
}

body {
    background-color: grey;
}

#box {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
}