#container {
    display: flex;
    flex-wrap: wrap;
    background-color: #F6F1E9;
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin-left: 55px;
    flex-shrink: 0;
    flex-grow: 0;
}

.items {
    flex: 0 0 calc(100% / var(--grid-size));
    padding-bottom: calc(100% / var(--grid-size));
    margin: 0;
    height: 0;
    background-color: white;
}

body {
    background-color: #EAC696;
}



#colorPicker{
    display: flex;
    margin-right: 20px;
    margin-top: 5px;
}

#gridSizeSlider {
    margin-left: 30px;
    margin-top: 7px;
}

h1{
    text-align: center;
    font-size: 36;
    font-family: 'edu-bold', sans-serif;
    color: #65451F;
}

.cssContainer{
    display: flex;
}


.colors{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    padding-left: 20px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 130px;
}


.descreption, .descreption2{
    color: #65451F;
    font-family: 'edu-bold', sans-serif;
}

@font-face {
    font-family: edu-var;
    src: url("Edu_SA_Beginner/EduSABeginner-VariableFont_wght.ttf") format("truetype"); 
}

@font-face {
    font-family: edu-bold;
    src: url(Edu_SA_Beginner/static/EduSABeginner-Bold.ttf);
}


